.editor-wrapper{
    display:flex;
    flex-flow:row nowrap;


}

.table {
    display: inline-table;
    table-layout:fixed;
    z-index:-5;
    margin-bottom:0% !important;
}

.grid{
    display:grid;
    width:100%;
    position: absolute;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2%;
    height:100%;
}

.syncSpace{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    display: flex;
}

.tile{
    font-size:.7em;
    font-weight: 700;
    padding:.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    cursor: pointer;
    border: 2px solid #0003;
    transition: .1s ease-in-out;
}

.tile.default{
    background-color:palegreen;
}

.tile:hover{
    border: 2px solid #333;
}

.tile.selected{
    background-color: #17a2b8;
    color:white;
}
/*.tile:hover{
}*/

.side{
    padding-top:0em !important;
    padding-bottom:.75em !important;
}

tr, th, td *{
    min-height:50px !important;
    height: 50px !important;
    max-height:50px !important;
}
td, th{
    width:12.5%;
}

.editor-wrapper > .time-table{
    flex:2;
    position: relative;
    width:66% !important;
}

.editor-wrapper > .config-panel{
    flex:1;
    width:33% !important;
    border-left: 3px solid #17a2b8;
    background-color: #555f69;
}

.editor-wrapper > .config-panel > .config-panel-inner{
    padding:1em;
    position:fixed;
    width:33%;
}

.config-panel-inner > .form{
    display:block;
    padding:1em;
    background-color: white;
    width:100%;
}

form > .form-group.rightside{
    text-align:right;
}